.s1{
font_size:50px;
color:blue;
}

.s2{
background-color:gray;
font-style:italic;
color:red;
font-weight:bold;
}

.s3{
background:gray;
font-weight:bold;
}

.s4{
background:gray;
font-weight:bold;
font-style:italic;
text-decoration:underline;
}